@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2014-07-30 09:15:18
 * @version $Id$
 */

div.wrapper{
  background-color: rgb(240,240,240);
  height: 1000px;
}

div.edit-area {
  margin-top: 50px;
  color: #666;
}




